#container {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative
}

#bio-title {
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 40px;
  position: absolute;
  margin-right: 170px;
  visibility: hidden
}

#title {
  color: rgb(110, 110, 110);
  font-family: Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  font-size: 35px;
}

#navmenu {
  background-color: rgb(245, 245, 245);
}

ul {
  color: rgb(179, 24, 24);

}

li {
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 550;
}

a {
  color:rgb(138, 24, 24);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#aboutme {
  font-size: 25px;
}

#works {
  font-size: 25px;
}

#contact {
  font-size: 25px;
}

#workspopup {
  width:600px;
  height: 450px;
  background-color:rgb(158, 65, 65);
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#workslinks {
  display:flex;
  justify-content: center ;
}

#workstitle {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reactplusjs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  filter: saturate(0%);

  
}

#wppluselem {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: 50px;
  filter: saturate(0%);

}

#react-logo {
  width: 100px;
  margin-bottom: 10px;
}

#plus {
  width: 30px;
  background-color: aquamarine;
}

#js-logo {
  width: 100px;
  margin-bottom: 10px;
}

#wp {
  width: 100px;
  margin-bottom: 15px;
  
}

#elementor {
  width: 100px;
  margin-top: 15px;

}

#worksclose {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  }

#bio {
  position:absolute;
  visibility:hidden;
  margin-top: 300px;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

#formcontainer {
  position:absolute;
  width:600px;
  height: 400px;
  background-color:rgb(148, 148, 148);
  padding: 10px 15px 10px 10px;
  border-radius: 10px;
  visibility: hidden

}

#message {
  width: 100%
}

.form-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-input input {
  width: 100%
}

#submit {
  display: block;
  width: 80px;
margin:auto

}

#closebutton {
width: 100%;
margin-top: 20px;
text-align: center;
}




@media (max-width: 1000px) {
  #workspopup {
    width: 350px;
    height: 500px
  }

  

  #bio-title {
    font-size: 25px;
    text-align: left;
    margin-right: 210px;
  }
  #bio {
    font-size: 15px;
    margin-top: 250px
    
  }
  #aboutme {
    font-size: 20px;
  }
  
  #works {
    font-size: 20px;
  }
  
  #contact {
    font-size: 20px;
  }
  #formcontainer {
     
      width: 320px;
      height: 420px
    }

    #closebutton {
      margin-top: 40px;
    }

  }
 
