#container {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

#title {
  color: rgb(135, 136, 136);
  font-family: Arial, sans-serif;
  background-color: rgb(230, 230, 230);
}

#navmenu {
  background-color: rgb(245, 245, 245);
}

ul {
  color: rgb(179, 24, 24);

}

li {
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 550;
}

a {
  color:rgb(138, 24, 24);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#workspopup {
  width:700px;
  height: 400px;
  background-color:rgb(148, 148, 148);
  border-radius: 20px;
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

#reactplusjs {
  display: flex;
  flex-direction: column;
  align-items: center
}

#wppluselem {
  display: flex;
  flex-direction: column;
  align-items:center

}

#react-logo {
  width: 100px
}

#plus {
  width: 30px
}

#js-logo {
  width: 100px
}

#wp {
  width: 100px
}

#elementor {
  width: 100px
}

#bio {
  position:absolute;
  visibility:hidden;
  margin-top: 300px;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}