#container {
  background: linear-gradient(160deg, rgb(161, 162, 185) 0% 5%, rgb(233, 233, 233) 20% 50%, rgb(186, 188, 204) 60% 65%, rgb(238, 238, 238) 95% 100%);
  display: flex;
  flex-direction: column;
justify-content: center;
  min-height: 100vh
}

h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 90px;
  text-align: center;

}

#ronezoneimg {
  width: 550px;
  border-radius: 7px;
  
}



#playhouseimg {
  width: 550px;
  border-radius: 7px;
  
}



#imagelinks {
  display: flex;
  justify-content: space-evenly;
  
}

#homewpelem {
  text-align: center;
  color:rgb(138, 24, 24);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
  
}

#toreactjs {
  text-align: center;
  color:rgb(138, 24, 24);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 80px
}

@media (max-width: 1000px) {
  #imagelinks {
    flex-direction: column;
    align-items:center; 
  }
  #ronezoneimg {
    width: 400px;
    filter: saturate(100%);
    margin-top: 20px;
    margin-bottom: 20px;
  }
    
  #playhouseimg {
    width: 400px;
    filter: saturate(100%);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 50px
  }

  #homewpelem {
    margin-top: 5px;
  }

  #toreactjs {
    margin-top: 20px;
    margin-bottom: 60px
  }

}