#container {
  background: linear-gradient(160deg, rgb(161, 162, 185) 0% 10%, rgb(233, 233, 233) 15% 50%, rgb(186, 188, 204) 60% 65%, rgb(238, 238, 238) 95% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  
  
}

#works1footer {
  background-color: rgba(96, 96, 179, 0.8);
  display:flex;
  flex-direction: column;
  
}

h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

}

#reactcalculatorimg {
  width: 350px;
  height: 370px;
  filter: saturate(70%);
  
  margin-right: 4vw;
  border-radius: 7px;
  opacity: .9;
}

#reactdrummachineimg {
  width: 350px;
  height: 310px;
  filter: saturate(70%);
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 7px;
  opacity: .9;
}

#reactpomodoroclockimg {
  width: 350px;
  height: 310px;
  filter: saturate(70%);
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 7px;
  opacity: .9;
}

#barchartimg {
  width: 350px;
  height: 310px;
  filter: saturate(70%);
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 7px;
  opacity: .9;
}

#scatterplotimg {
  width: 350px;
  height: 310px;
  filter: saturate(70%);
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 7px;
  opacity: .9;
}

#imagelinks {
  display:flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 4vw;
  
}

#homereactjs {
  text-align: center;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px
  
}

#towpelem {
  text-align: center;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 80px;
}

#leftarrow {
  position: absolute
}

#rightarrow {
  position: absolute;
  right: 0
}

@media (max-width: 450px) {
  
  
  #reactcalculatorimg {
    width: 350px;
    
    
  }
  
  #reactdrummachineimg {
    width: 350px;
    
  }
  
  #reactpomodoroclockimg {
    width: 350px;
    
  }

  h1{
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 0px
  }

  #homereactjs {
  
    margin-top: 5px
    
  }
  
  #towpelem {
    margin-top: 20px;
    margin-bottom: 60px;
  }

}